<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-mopub-sdk"
        version="0.0.1">
    <name>MoPub</name>
    <js-module name="MoPub" src="www/MoPub.js">
        <clobbers target="mopub"/>
        <clobbers target="cordova.plugins.MoPub"/>
    </js-module>
    <engines>
        <engine name="cordova-ios" version=">=5.0.0" />
        <engine name="cordova-android" version=">=8.0.0" />
    </engines>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MoPub">
                <param name="android-package" value="app.xplatform.cordova.MoPub"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/MoPub.java" target-dir="src/app/xplatform/cordova/MoPub"/>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MoPub">
                <param name="ios-package" value="MoPub"/>
            </feature>
        </config-file>
        <source-file src="src/ios/MoPub.m"/>
    </platform>
</plugin>
